:root {
    --primary-color: #000;
    --white-color: #fff;
    --gap: 3rem;
    --ligth-gray-color: #EEEE;
    --text-color: rgb(170, 29, 29);
    --secundary-color: crimson;
}

@font-face {
    font-family: 'Stark';
    src: url('../fonts/stark/Stark Italic.otf') format('opentype');
    font-style: normal;
    
}

@font-face {
    font-family: 'StarkB';
    src: url('../fonts/stark/Stark.otf') format('opentype');
    font-size: normal;
    font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

html {
    font-size: 65.5%;
    scroll-behavior: smooth;
    
}
body {
    font-family: 'StarkB', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Stark', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-size: 8rem;
    margin-bottom: 5rem;
    color:#aa0505;
    text-shadow: 1.5px 1.5px 1.5px #b97d10, -1.5px 1.5px 1.5px #b97d10, 1.5px -1.5px 1.5px #b97d10, -1.5px -1.5px 1.5px #b97d10;

    
}

h3 {
    font-size: 5rem;

}
h4 {
    font-size: 4.5rem ;
}
h5 {
    font-size: 4rem ;
}
h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}
.main-bg {
    background-image: url('../img/back4.jpg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);

}

.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}
.main-content {
    max-width: 120rem;
    margin: 0px auto;
    padding: 8rem var(--gap);
    
}
.section {
    min-height: 100vh;
}

.menu {
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--ligth-gray-color);
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-spacing {
    
    height: 65px;
}
.menu h1 {
    font-size: 2.1rem;
    color: var(--primary-color);
    color:#aa0505;
    text-shadow: 0.5px 0.5px 0.5px #b97d10, -0.5px 0.5px 0.5px #b97d10, 0.5px -0.5px 0.5px #b97d10, -0.5px -0.5px 0.5px #b97d10;
}
.menu h1 img{
    height: 4.6rem;
    width: 4.6rem;
}
.menu h1 a{
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;

}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secundary-color);
    transition: all 300ms ease-in-out;

}
.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img{
    position: relative;
    top: -7rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}




.intro-img img {
	max-width: 100%;
    height: auto;
}

.section .white-bg h2 {
    color: blue;
}
.txt-test h2{
    color: var(--primary-color);
    text-shadow: none;

}


.top3-content {
    padding-top: 3rem;
    max-width: 80rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: justify;
    font-size: 1.6rem;
    position: relative;
    min-height: 100vh;
}

.armadura-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;

}

.armadura-content h3 {
    font-size: 8rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
    padding-left: 5rem;
    padding-bottom: 3rem;
  }
  
.grid h4 {
    font-size: 3rem;
    position: relative;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
  }
  
.grid h4::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -2rem;
    left:-1rem;
    transform: rotate(5deg);
  }

.grid-main-heading {

    margin-bottom: 1rem;
  }

.grid-description {
      margin-bottom: 5rem;
  }

.galeria-img {
      width: 100%;
      max-width: 36rem;
      max-height: 36rem;
      overflow: hidden;
  }

.galeria-img img {
      transition: all 300ms ease-in-out;
    
  }

.galeria-img img:hover {
      transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
  }

  .responsive-table{
      overflow: hidden;
      overflow-x: scroll;
      width: 100%;
  }
table {
    min-width: 360px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.6rem;
  }

  
table td, table th {
      padding: 1rem;
      text-align: left;
      border: 0.1rem solid var(--ligth-gray-color);
}

table tfoot {
      background-color: var(--ligth-gray-color);
}

table caption {
    font-style: italic;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.contact-form {
    grid-column: span 2;
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap)
}

.form-group {
    flex: 1 1 400px;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 1.5rem;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-left: 80%;

}

.form-group button:hover{
    background: var(--white-color);
    color: var(--primary-color);
}